@import url("/assets/css/common/global.css");
@import url("/assets/css/common/animaciones.css");
@import url("/assets/css/common/alertas.css");
@import url("/assets/css/common/nav_btns.css");
@import url("/assets/css/modules/header.css");

body {
    min-height: 100vh;
}

.registro-container {
    width: 100%;
    max-width: 800px;
    padding: 100px;
}

h1.titulo {
    color: var(--primario-50);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.titulo span.material-symbols-outlined {
    font-size: 192px;
    color: var(--primario);
    z-index: 2;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

textarea#domicilio {
    resize: none;
}

.campo-completo {
    grid-column: span 1;
}

.campo {
    display: flex;
    flex-direction: column;
}

.etiqueta {
    color: white;
    margin-bottom: 8px;
    font-size: 16px;
}

.registrarse {
    justify-self: center;
    grid-column: span 1;
    width: 100%;
}

select.input {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='gray' d='M6 9L0 3h12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 30px;
    color: var(--gris);
}

select.input:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='lightgray' d='M6 9L0 3h12z'/%3E%3C/svg%3E");
    color: var(--gris-200);
}

@media (640px <= width <= 960px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (960px <= width) {
    body {
        display: block;
        justify-content: center;
        align-items: center;
    }

    main.registro-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100%;
    }

    h1.titulo {
        margin-bottom: 16px;
        width: 10ch;
    }

    .formulario {
        grid-template-columns: 1fr 1fr;
    }

    .campo-completo {
        grid-column: span 2;
    }

    .registrarse {
        grid-column: span 2;
    }
}